<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciando com Vuejs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{ titulo }}</h1>
        <p v-if="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, suscipit dolorem deleniti modi qui doloremque asperiores nobis exercitationem beatae voluptas non unde, ducimus consequatur corrupti, consequuntur dolorum tempora ratione officiis.</p>
        <p v-else>Não existe texto</p>
        <div v-if="usuario.id == 1">
            Id: {{ usuario.id }}, <br>
            Nome: {{ usuario.nome }}, <br>
            Profissão: {{ usuario.profissao}} <br>
        </div>
        <div v-else>
            Nenhum usuario encontrado 
        </div>

        <br>

        <ul>
            <li v-for="(item, index) in linguagens">{{index}} - {{ item.nome }}</li>
        </ul>

        <input type="text" v-model="nome"><br>
        {{nome}}
        
    </div>

    
    <script src="JS/app.js"></script>
</body>
</html>
